.container_2{
    margin: auto;
    width:100%;
    height:auto;
    background-color: rgb(50, 49, 49);
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    gap: 20px;
}

.container_2 div img{
    width: 100%;
    height: 100%;
    border-radius:15px;
}

.container_2>div{
    background-color: black;
    border-radius:15px;
}