body{
    text-align: center;
    margin-top: 10%;
    background-color: #757575;
    color: white;
    
}

input{
    font-size: 20px;
    height: 50px;
    width: 40%;
    border: none;
    margin-top: 40px;
    border-radius: 5px;
    padding-left: 20px;
}
button{
    margin-top: 30px;
    height: 40px;
    width: 20%;
    font-size: 25px;
    background-color: cornflowerblue;
    color: white;
    border-radius: 15px;
    border: none;
}