*{
    font-family: serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-weight: 400;
}
body {
  background:white;
  }
#userdata {
  /* border: 2px solid blue; */
  display: flex;
}
.leftside {
  /* border-right: 3px solid grey; */
  width: 20%;
  height: auto;
  background:black	;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.leftside div {
  /* border: 2px solid red; */
  margin-bottom:50px ;
  margin: auto;
  width: 50%;
}
.leftside div button {
  /* border: 2px solid green; */
  margin-top: 40%;
  justify-content: center;
  /* margin-bottom: 50px; */
  width: 100%;
}
.leftside img{
margin: 6px;
  width: 50%;
 
}
.rightside {
  width: 80%;
}
.top-sec {
  /* border-bottom: 3px solid grey; */
  background-color: black 	;
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.top-sec h2{
  font-size: 2rem;
  text-transform: uppercase;
  color: white;
  font-weight: 600;
}
.top-sec h2:hover{
 color: black;
}
.mid-sec {
  justify-content: space-between;
  margin: auto;
  width: 100%;
  padding: 5px;
}


.mid-sec>div{
  width: 80%;
  /* border: 2px solid black; */
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  align-items: center;
  margin: auto;
  border-radius: 10px;
  
}
.mid-sec img {
  /* border: 2px solid white; */
  border-radius: 50%;
  width: 10%;
  /* width: 50%; */
}
.mid-sec p

 select:hover {
  cursor: pointer;
  /* background-color: ; */
}
select{
    font-size: 1rem;
    background-color:black;
    color: white;
    padding: 6px 10px 6px 10px ;
    border-radius: 10px;
}
#userSearch {
  background: #fff;
  height: 30px;
  border-radius: 30px;
  padding: 10px 20px;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.8s;

  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.3),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.2),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.2);
}

#userSearchr:hover {
  animation: hoverShake 0.15s linear 3;
}
.leftside div button {
    background-color: #eef0f2;
  border: none;
  border-radius: 7px;
  padding: 5px;
  outline: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1rem;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  
  
}
.leftside div button:hover{
    cursor: pointer;
    background-color:#ECEFF1;
}
#pagination{
  margin: 2% 0 10% 0;
  text-align: center;
 
}
#pagination button{
  border:none;
  border-radius: 10px;
  background-color: #555555;
  color: white;
  margin-left:10px;
padding: 6px 25px 6px 25px;
}

.delete_btn,.details_btn{
  padding: 6px 20px 6px 20px;
  border-radius: 10%;
  color: white;
  background-color: skyblue;
  border:none;

}

.delete_btn:hover{
  cursor: pointer;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.details_btn:hover {
  cursor: pointer;
  color: black;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.imgNE:hover{
text-decoration: underline;
}


@media all and (min-width:768px) and (max-width:1024px){
  #userdata{
    height: auto;
        width: 100%;
  }
  .leftside {
  width: ;
  }
  .leftside div{
    width: 50%;
  }
  .mid-sec>div{
    width: 100%;
    /* display: block; */
  }
  .top-sec{
    width: 100%;
  }
}

@media all and (min-width:320px) and (max-width:768px){
  .mid-sec>div{
    display: block;
    width: 70%;
  }
  .rightside{
    width: 40%;
  }
   .leftside {
  width: 30%;
  }
}